/*Ocultar barras de desplazamiento*/
html, body {
  overflow-x: hidden; /* Cambiado de overflow: hidden */
  overflow-y: auto;   /* Permite scroll vertical */
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

body {
  min-height: 100vh;
  touch-action: pan-x pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%; /* Importante para Android */
  overscroll-behavior: none; /* Importante para pull-to-refresh */
  overscroll-behavior-y: none; /* Específico para vertical */
}



/* Específico para prevenir zoom */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  overscroll-behavior: none;
  overscroll-behavior-y: none; 
}
